div#jjal-section {
    background-color: #f2f2f2;

    div.grid-container{

        div.grid-25 {
            margin: 30px 0px 0px 0px;

            div.data-instance {
                margin: 0px 0px 20px 0px;

                a#instance-url{

                    img {
                        max-height: 100%;
                        max-width: 100%;
                    }
                }
            }
        }
    }
}
